br.mobile {
  display: none;
}
br.desktop {
  display: block;
}
span.mobile {
  display: none;
}
span.desktop {
  display: block;
}
h2.pagetitle {
  margin-top: 0.3em;
}
h1.nametitle {
  margin-top: 0.3em;
  margin-bottom: 0em;
  font-size: 2.2em;
  font-weight: bold;
  color: aquamarine;
}
.not-a-button {
  background-color: transparent;
  border: none;
  color: rgba(191, 191, 191, 0.7);
  font-size: 1em;
  cursor: pointer;
}
.not-a-button:hover {
  background-color: transparent;
}
a.white {
  color: white;
}
a.white:hover {
  color: #939393;
}

@media (max-width: 502px) {
  br.mobile {
    display: block;
  }
  br.desktop {
    display: none;
  }
  span.mobile {
    display: block;
  }
  span.desktop {
    display: none;
  }
}
